In [40]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [39]:
import os
import cv2
import shutil
import pandas as pd
import numpy as np

In [13]:
ORIGINAL_CLEANED ='/content/drive/MyDrive/KJSCE/LY/DL/ProjectData/ORIGINAL_CLEANED'
HSV = '/content/drive/MyDrive/KJSCE/LY/DL/ProjectData/HSV'
HSV_S ='/content/drive/MyDrive/KJSCE/LY/DL/ProjectData/HSV_S'
ORIGINAL_BALANCED ='/content/drive/MyDrive/KJSCE/LY/DL/ProjectData/ORIGINAL_BALANCED'
THRESHOLD = '/content/drive/MyDrive/KJSCE/LY/DL/ProjectData/THRESHOLD'

# Convert and Save HSV , Saturation Layer

In [ ]:
run=False
if run==True:
  count=0
  for root,dir,files in os.walk(ORIGINAL_CLEANED):
    for name in files:
        path = os.path.join(root,name)
        hsv_path = os.path.join(root.replace('ORIGINAL_CLEANED','HSV'),name)
        hsv_s_path = os.path.join(root.replace('ORIGINAL_CLEANED','HSV_S'),name)
        print('\n',path,'\n',hsv_path,'\n',hsv_s_path)
        img = cv2.imread(path)
        hsv_img = cv2.cvtColor(img, cv2.COLOR_BGR2HSV)
        hsv_s_img = hsv_img[:,:,1]
        cv2.imwrite(hsv_path,hsv_img)
        cv2.imwrite(hsv_s_path,hsv_s_img)
        count+=1
  print(count,'images converted & saved')

1088 images converted & saved

# Data Augmentation for Balanced Dataset Generation

In [13]:
run=False
if run==True:
  folder = '/diode_thermal'
  nameslist = os.listdir(ORIGINAL_CLEANED+folder)
  sampled = random.sample(nameslist,60)
  count=0
  for name in os.listdir(ORIGINAL_CLEANED+folder):
    path=os.path.join(ORIGINAL_CLEANED+folder,name)
    dest_path = os.path.join(ORIGINAL_BALANCED+folder,name)
    img = cv2.imread(path)
    cv2.imwrite(dest_path,img)
    count+=1
    if name in sampled:
      hflip = cv2.flip(img,1)
      cv2.imwrite(dest_path.replace('.jpg','_h.jpg'),hflip)
      vflip = cv2.flip(img,0)
      cv2.imwrite(dest_path.replace('.jpg','_v.jpg'),vflip)
      hvflip = cv2.flip(vflip,1)
      cv2.imwrite(dest_path.replace('.jpg','_hv.jpg'),hvflip)
      count+=3

  print('Original :',len(nameslist))
  print('Final : ',count)

Original : 100
Final :  280

In [14]:
run=False
if run==True:
  folder = '/dust_thermal'
  nameslist = os.listdir(ORIGINAL_CLEANED+folder)
  sampled = random.sample(nameslist,39)
  count=0
  for name in os.listdir(ORIGINAL_CLEANED+folder):
    path=os.path.join(ORIGINAL_CLEANED+folder,name)
    dest_path = os.path.join(ORIGINAL_BALANCED+folder,name)
    img = cv2.imread(path)
    cv2.imwrite(dest_path,img)
    count+=1
    if name in sampled:
      hflip = cv2.flip(img,1)
      cv2.imwrite(dest_path.replace('.jpg','_h.jpg'),hflip)
      vflip = cv2.flip(img,0)
      cv2.imwrite(dest_path.replace('.jpg','_v.jpg'),vflip)
      hvflip = cv2.flip(vflip,1)
      cv2.imwrite(dest_path.replace('.jpg','_hv.jpg'),hvflip)
      count+=3

  print('Original :',len(nameslist))
  print('Final : ',count)

Original : 39
Final :  156

In [16]:
run=False
if run==True:
  folder = '/multi_thermal'
  nameslist = os.listdir(ORIGINAL_CLEANED+folder)
  sampled1 = random.sample(nameslist,50)
  sampled2 = random.sample(nameslist,50)

  count=0

  for name in os.listdir(ORIGINAL_CLEANED+folder):
    path=os.path.join(ORIGINAL_CLEANED+folder,name)
    dest_path = os.path.join(ORIGINAL_BALANCED+folder,name)
    img = cv2.imread(path)
    cv2.imwrite(dest_path,img)
    count+=1
    if name in sampled1:
      hflip = cv2.flip(img,1)
      cv2.imwrite(dest_path.replace('.jpg','_h.jpg'),hflip)
      count+=1

    if name in sampled2:
      vflip = cv2.flip(img,0)
      cv2.imwrite(dest_path.replace('.jpg','_v.jpg'),vflip)
      count+=1

  print('Original :',len(nameslist))
  print('Final : ',count)

Original : 199
Final :  299

In [17]:
run=False
if run==True:
  folder = '/PID_thermal'
  nameslist = os.listdir(ORIGINAL_CLEANED+folder)
  sampled1 = random.sample(nameslist,50)
  sampled2 = random.sample(nameslist,50)

  count=0

  for name in os.listdir(ORIGINAL_CLEANED+folder):
    path=os.path.join(ORIGINAL_CLEANED+folder,name)
    dest_path = os.path.join(ORIGINAL_BALANCED+folder,name)
    img = cv2.imread(path)
    cv2.imwrite(dest_path,img)
    count+=1
    if name in sampled1:
      hflip = cv2.flip(img,1)
      cv2.imwrite(dest_path.replace('.jpg','_h.jpg'),hflip)
      count+=1

    if name in sampled2:
      vflip = cv2.flip(img,0)
      cv2.imwrite(dest_path.replace('.jpg','_v.jpg'),vflip)
      count+=1

  print('Original :',len(nameslist))
  print('Final : ',count)

Original : 250
Final :  350

# Generate Ground Truth Threshold

In [23]:
df=pd.read_csv('/content/drive/MyDrive/KJSCE/LY/DL/ProjectData/cleaned_annotatation_data.csv')
df=df.iloc[:,1:6]
df

             image        xmin        ymin        xmax        ymax
0     FLIR0105.jpg    0.392157  129.803922  313.333333  179.607843
1     FLIR0149.jpg    0.392157  102.352941  303.137255  139.215686
2     FLIR0149.jpg  292.156863  150.588235  319.215686  167.058823
3     FLIR0153.jpg   29.019608  128.235294  297.254902  153.333333
4     FLIR0153.jpg  278.039216  163.137255  312.549020  183.529412
...            ...         ...         ...         ...         ...
1821  FLIR1241.jpg  250.000000  169.000000  285.000000  199.000000
1822  FLIR1243.jpg  126.250000  157.083333  159.583333  201.250000
1823  FLIR1248.jpg   86.666667  175.000000  119.166667  195.000000
1824  FLIR1253.jpg  175.000000   71.250000  204.166667   98.750000
1825  FLIR1258.jpg  165.833333  166.666667  190.416667  185.000000

[1826 rows x 5 columns]

In [18]:
run=False
if run==True:
  folder = '/single_thermal'
  nameslist = os.listdir(ORIGINAL_CLEANED+folder)

  count=0

  for name in os.listdir(ORIGINAL_CLEANED+folder):
    path=os.path.join(ORIGINAL_CLEANED+folder,name)
    dest_path = os.path.join(ORIGINAL_BALANCED+folder,name)
    img = cv2.imread(path)
    cv2.imwrite(dest_path,img)
    count+=1

  print('Original :',len(nameslist))
  print('Final : ',count)

Original : 500
Final :  500

In [42]:
def get_boxes(name):
  return df[df['image'] == name].iloc[:,1:].values.tolist()

[[29.01960784, 128.2352941, 297.254902, 153.3333333],
 [278.0392157, 163.1372549, 312.5490196, 183.5294118]]

In [37]:
run=False
if run==True:
  count=0
  for root,dir,files in os.walk(ORIGINAL_CLEANED):
    for name in files:
        path = os.path.join(root,name)
        img = np.zeros((240,320,3), dtype = np.uint8)
        thresh_path = os.path.join(root.replace('ORIGINAL_CLEANED','THRESHOLD'),name)
        boxes = get_boxes(name)
        for x1,y1,x2,y2 in boxes:
          thresh_img = cv2.rectangle(img, (int(x1), int(y1)), (int(x2), int(y2)), (255, 255, 255), -1)
        cv2.imwrite(thresh_path,thresh_img)
        count+=1
  print(count,'images converted & saved')

1088 images converted & saved